<include file="default:global:layout_head_page" />

<include file="default:global:layout_head_menu" />

<!-- right -->
<div class="container-fluid">
	<div class="row">

		<!-- left menu -->
		<include file="default:global:layout_body_left_menu" />
		<!-- / left menu -->
		
		<!-- right content -->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">	
			
			<!-- head -->
			<h3 class="page-header">
				<{$bank_name}>
			</h3>
			<!-- / head -->
			
			<!-- head -->
			<p>
				<!-- button group -->
				<a class="btn btn-success" href="__URL__/choiceDo?pid=<{$pid}>&p=1"> <{$choice}></a>
				<a class="btn btn-default" href="__URL__/judgeDo?pid=<{$pid}>&p=1"><{$judge}></a>
				<a class="btn btn-default" href="__URL__/subjectDo?pid=<{$pid}>&p=1"><{$subject}></a>
				
				<!-- / button group -->
			</p>
			<!-- / head -->
			
			<!-- list -->
			<div class="row">	
			
				<volist name='list' id='vo' key="k">
					<div class="col-md-12">				
						<!--panel-->
						<div class="panel panel-info">						
							<!--pane-->
							<div class="panel-heading">
							<h3 class="panel-title">								
								<if condition="$pageNo eq 0"><{$k}><else /><{$k+1+$num*($pageNo-1)}></if>.&nbsp;
								<{$vo.title}></h3>
							</div>
						
							<!--panel-->
							<div class="panel-body">						
								<div class="alert alert-success" role="alert">
									<div class="radio">
									   <label>
									      <input type="radio" name="optionsRadios" id="optionsRadios1" 
									         value="option1" > A.&nbsp;<{$vo.choicea}>
									   </label>
									</div>
									<div class="radio">
									   <label>
									      <input type="radio" name="optionsRadios" id="optionsRadios2" 
									         value="option2"> B.&nbsp;<{$vo.choiceb}>
									   </label>
									</div>
									<div class="radio">
									   <label>
									      <input type="radio" name="optionsRadios" id="optionsRadios2" 
									         value="option2"> C.&nbsp;<{$vo.choicec}>
									   </label>
									</div>
																		
									<if condition="$vo.choiced eq ''">
										<!-- error  -->
										<div class="radio">
											   <label>
											      <input type="radio" name="optionsRadios" id="optionsRadios2" 
											         value="option2"> D.&nbsp;<{$vo.choiced}>
											   </label>
										</div>
										<!-- / error  -->
									<else />									
										<div class="radio">
										   <label>
										      <input type="radio" name="optionsRadios" id="optionsRadios2" 
										         value="option2"> D.&nbsp;<{$vo.choiced}>
										   </label>
										</div>
									</if>	
											
								</div>	
								
								<!-- answer  -->
								<div class="alert alert-warning" >
									<{$answer}><{$vo.choiced}>
								</div>
								<!-- / answer  -->
									
							</div>					
						</div>
					</div>
				</volist>
			</div>
			<!-- / list -->
			
			<div class="row">
	        	<!-- page -->
				<div class="pagination ">
					<ul><{$show}></ul>
				</div> 
				<!-- / page -->
	        </div>
			
		</div>
		<!-- /right content -->		
	</div>
</div>
<!-- / right -->

<include file="default:global:layout_foot" />