<body >
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand " href="#">浙江理工大学</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">前台</a></li>
              
            </ul>
            <p class="navbar-text pull-right"><a href="#">安全退出</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
	<div class="container-fluid">
     <!-- 
      <div class="row-fluid">
      	<div class="span12">
      		<img src="<{$pic_head_bg}>" style="height:120px;width:100%" />
      		
      	</div>
      </div>
       
       
      <div class="nav"></div>
      -->