   	</div><!-- <div class="row-fluid"> -->
   	</div><!-- <div class="container-fluid"> -->
   	
   	<hr>     
    <div class="container-fluid">
      <div class="row-fluid">
      	<footer>
        <p>&copy; 后台管理系统</p>
      </footer>
      </div>
    </div>

<!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> -->
    <script src="__PUBLIC__/Js/jquery.min.js"></script>
    <script src="__PUBLIC__/Js/jNotify.jquery.js"></script>
    <script src="__PUBLIC__/Js/jquery.alert.js"></script>
    <!-- 
    <script src="__PUBLIC__/Js/google-code-prettify/prettify.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-transition.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-alert.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-modal.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-dropdown.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-scrollspy.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-tab.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-tooltip.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-popover.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-button.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-collapse.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-carousel.js"></script>
    <script src="__PUBLIC__/Js/bootstrap-typeahead.js"></script>
    <script src="__PUBLIC__/Js/application.js"></script>
	 -->
	 