

<!-- menu left-->
<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#"><{$bank}></a></li>
		</ul>
		
		<ul class="nav nav-sidebar">
			<li><a href="__URL__/../bank/prePractice"><{$practice}></a></li>
		</ul>
				 
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#"><{$paper}></a></li>
		</ul>
		
		<ul class="nav nav-sidebar">
			<li><a href="#"><{$paper_do}></a></li>
		</ul>
		
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#"><{$find}></a></li>
		</ul>
		
		<ul class="nav nav-sidebar">
			<li><a href="#"><{$his_score}></a></li>
		</ul>
		 
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#"><{$other}></a></li>
		</ul>
		
		<ul class="nav nav-sidebar">
			<li><a href="#"><{$problem_count}></a></li>			
		</ul>
	
 
</div>
<!-- / menu left-->