

<!-- menu left-->
<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#"><{$bank}></a></li>
		</ul>
		
		<ul class="nav nav-sidebar">
			<li><a href="__URL__/../bank/addBank"><{$add_bank}></a></li>
			<li><a href="__URL__/../bank/viewBank"><{$view_bank}></a></li>
		</ul>
				 
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#"><{$paper}></a></li>
		</ul>
		
		<ul class="nav nav-sidebar">
			<li><a href="__URL__/../paper/add"><{$paper_add}></a></li>
			<li><a href="__URL__/../paper/view"><{$paper_add}></a></li>
		</ul>
		
		<!-- 
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#"><{$find}></a></li>
		</ul>		
		<ul class="nav nav-sidebar">
			<li><a href="#"><{$his_score}></a></li>
		</ul>
		-->
		
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#"><{$other}></a></li>
		</ul>
		
		<ul class="nav nav-sidebar">
			<li><a href="#"><{$web_map}></a></li>			
		</ul>
	 
</div>
<!-- / menu left-->