@CHARSET "UTF-8";
body{
	margin:0px;
	padding:0px;
	font:12px Arial,宋体;
	text-align:center;/*火狐居中*/
}

ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

li{
	float:left;
	padding-top:7px;/*字体变大，仍然有边距*/
	padding-bottom:7px;/*字体变大，仍然有边距*/
	width:100px;
	/*height:30px;/**/
	/*line-height:30px;/**/
	text-align:center;
	font-size:12pt;
}

#container{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	/*height:800px;/*tmp*/
	background:gray;
	text-align:left;/*消除body的text-align*/
}

#top{
	float:left;
	width:100%;
	/*height:30px;/**/
	font-size:11pt;
	background:#EEEEEE;
}

#top .leftbox{
	float:left;
	width:200px;
	height:30px;
	line-height:30px;
	padding-left:10px;
	/*padding-top:5px;/**/
	/*padding-bottom:5px;/**/
	
	background:gray;
}

#top .rightbox{
	float:right;
	width:400px;
	height:30px;
	background:gray;
}

#header{
	float:left;
	width:100%;
	/*height:80px;/*让子模块来自动撑开高度*/
	/*background:red;/*tmp*/
}

#header #logo{
	float:left;
	width:150px;
	height:80px;
	margin-right:10px;
	background:#ddff77;
}

#header #banner{
	float:left;
	width:650px;
	height:80px;
	background:#993444;
}
#header #tool{
	float:right;
	width:140px;
	height:80px;
	background:#993444;
}

#menu{
	float:left;
	width:100%;
	/*height:40px;/*让子模块来自动撑开高度*/
	background:#90eeff;
}

#menu a:hover{
	color:red;
}

#main{
	float:left;
	width:100%;
	/*height:450px;/*让子模块来自动撑开高度*/
	/*background:green;/*tmp*/
}

#main .leftbox{
	float:left;
	width:700px;	
	/*height:400px;/**/
	/*background:gray;/**/
}

.leftbox .left{
	float:left;
	width:340px;
	height:200px;
	background:gray;
}

.leftbox .right{
	float:right;
	width:350px;
	height:200px;
	background:gray;
}

#main .rightbox{
	float:right;
	width:250px;
	height:400px;	
	background:gray;
}

#main .guang{
	float:left;
	width:100%;
	height:100px;
	background:gray;
}

#footer{
	float:left;
	width:100%;
	height:100px;
	background:gray;
}

.nav{
	float:left;
	width:100%;
	height:5px;
	background:white;
	overflow:hidden;
}






















